body { 
    background-color: #000; 
    color: white;
    min-height: 100vh;
  }
  .form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(238, 235, 235, 0.1);
  }
  .btn{
    color: #1a1a2e;
  }